*{
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img{
  width: 200px;
}

.filha{
  background-color: #2C2B2D;
  padding: 50px;
  border-radius: 10px;
}

h3{
  color: white;
}

p{
  color: white;
}